<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="JoystickCombiner.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="JoystickCombiner.config" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
      <JoystickCombiner.Properties.Settings>
        <setting name="leftJoystick" serializeAs="String">
          <value>none</value>
        </setting>
        <setting name="rightJoystick" serializeAs="String">
          <value>none</value>
        </setting>
        <setting name="leftRudder" serializeAs="String">
          <value>none</value>
        </setting>
        <setting name="rightRudder" serializeAs="String">
          <value>none</value>
        </setting>
        <setting name="mode1Weight" serializeAs="String">
          <value>0</value>
        </setting>
        <setting name="mode2Weight" serializeAs="String">
          <value>50</value>
        </setting>
        <setting name="mode3Weight" serializeAs="String">
          <value>100</value>
        </setting>
        <setting name="active" serializeAs="String">
          <value>0</value>
        </setting>
        <setting name="autostart" serializeAs="String">
          <value>False</value>
        </setting>
        <setting name="axisXAxis" serializeAs="String">
          <value>0</value>
        </setting>
        <setting name="axisXMethod" serializeAs="String">
          <value>0</value>
        </setting>
        <setting name="axisXChange" serializeAs="String">
          <value>5</value>
        </setting>
        <setting name="axisYAxis" serializeAs="String">
          <value>0</value>
        </setting>
        <setting name="axisYMethod" serializeAs="String">
          <value>0</value>
        </setting>
        <setting name="axisYChange" serializeAs="String">
          <value>5</value>
        </setting>
        <setting name="axisTwistAxis" serializeAs="String">
          <value>0</value>
        </setting>
        <setting name="axisTwistMethod" serializeAs="String">
          <value>0</value>
        </setting>
        <setting name="axisTwistChange" serializeAs="String">
          <value>5</value>
        </setting>
        <setting name="axisThrottleAxis" serializeAs="String">
          <value>0</value>
        </setting>
        <setting name="axisThrottleMethod" serializeAs="String">
          <value>0</value>
        </setting>
        <setting name="axisThrottleChange" serializeAs="String">
          <value>5</value>
        </setting>
        <setting name="axisRotary1Axis" serializeAs="String">
          <value>0</value>
        </setting>
        <setting name="axisRotary1Method" serializeAs="String">
          <value>0</value>
        </setting>
        <setting name="axisRotary1Change" serializeAs="String">
          <value>5</value>
        </setting>
        <setting name="axisRotary2Axis" serializeAs="String">
          <value>0</value>
        </setting>
        <setting name="axisRotary2Method" serializeAs="String">
          <value>0</value>
        </setting>
        <setting name="axisRotary2Change" serializeAs="String">
          <value>5</value>
        </setting>
        <setting name="axisSliderAxis" serializeAs="String">
          <value>0</value>
        </setting>
        <setting name="axisSliderMethod" serializeAs="String">
          <value>0</value>
        </setting>
        <setting name="axisSliderChange" serializeAs="String">
          <value>5</value>
        </setting>
        <setting name="axisLeftToeAxis" serializeAs="String">
          <value>0</value>
        </setting>
        <setting name="axisLeftToeMethod" serializeAs="String">
          <value>0</value>
        </setting>
        <setting name="axisLeftToeChange" serializeAs="String">
          <value>5</value>
        </setting>
        <setting name="axisRightToeAxis" serializeAs="String">
          <value>0</value>
        </setting>
        <setting name="axisRightToeMethod" serializeAs="String">
          <value>0</value>
        </setting>
        <setting name="axisRightToeChange" serializeAs="String">
          <value>5</value>
        </setting>
        <setting name="axisRudderAxis" serializeAs="String">
          <value>0</value>
        </setting>
        <setting name="axisRudderMethod" serializeAs="String">
          <value>0</value>
        </setting>
        <setting name="axisRudderChange" serializeAs="String">
          <value>5</value>
        </setting>
        <setting name="axisXCentered" serializeAs="String">
          <value>False</value>
        </setting>
        <setting name="axisYCentered" serializeAs="String">
          <value>False</value>
        </setting>
        <setting name="axisTwistCentered" serializeAs="String">
          <value>False</value>
        </setting>
        <setting name="axisThrottleCentered" serializeAs="String">
          <value>False</value>
        </setting>
        <setting name="axisRotary1Centered" serializeAs="String">
          <value>False</value>
        </setting>
        <setting name="axisRotary2Centered" serializeAs="String">
          <value>False</value>
        </setting>
        <setting name="axisSliderCentered" serializeAs="String">
          <value>False</value>
        </setting>
        <setting name="axisLeftToeCentered" serializeAs="String">
          <value>False</value>
        </setting>
        <setting name="axisRightToeCentered" serializeAs="String">
          <value>False</value>
        </setting>
        <setting name="axisRudderCentered" serializeAs="String">
          <value>False</value>
        </setting>
        <setting name="changeInterval" serializeAs="String">
          <value>100</value>
        </setting>
        <setting name="mode1Button" serializeAs="String">
          <value>1</value>
        </setting>
        <setting name="mode2Button" serializeAs="String">
          <value>1</value>
        </setting>
        <setting name="mode3Button" serializeAs="String">
          <value>1</value>
        </setting>
      </JoystickCombiner.Properties.Settings>
        <JoystickCombiner.config>
            <setting name="leftJoystickGuid" serializeAs="String">
                <value />
            </setting>
            <setting name="leftRudderGuid" serializeAs="String">
                <value />
            </setting>
            <setting name="rightJoystickGuid" serializeAs="String">
                <value />
            </setting>
            <setting name="rightRudderGuid" serializeAs="String">
                <value />
            </setting>
        </JoystickCombiner.config>
    </userSettings>
</configuration>